In [9]:
import numpy as np 
import pandas as pd 
from pandas_datareader import data as wb 
import matplotlib.pyplot as plt

/Users/bigd/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [10]:
tickers = ['PG','BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [11]:
sec_data.tail()

                    PG     BEI.DE
Date
2020-04-21  118.887138  95.879997
2020-04-22  118.609001  95.940002
2020-04-23  119.400002  95.379997
2020-04-24  118.779999  94.779999
2020-04-27  118.059998  94.440002

In [14]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [15]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006545
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-04-21 -0.007658  0.002088
2020-04-22 -0.002342  0.000626
2020-04-23  0.006647 -0.005854
2020-04-24 -0.005206 -0.006310
2020-04-27 -0.006080 -0.003594

[3352 rows x 2 columns]

In [16]:
sec_returns['PG'].mean()

0.00030037867322635445

In [17]:
sec_returns['PG'].mean()* 250

0.07509466830658862

In [18]:
sec_returns['PG'].std()

0.011949027217959252

In [19]:
sec_returns['PG'].std()* 250 ** 0.5

0.18893070916048232

In [20]:
sec_returns['BEI.DE'].mean()

0.00023334569516010836

In [21]:
sec_returns['BEI.DE'].mean()* 250

0.05833642379002709

In [22]:
sec_returns['BEI.DE'].std()

0.013767788310978902

In [23]:
sec_returns['BEI.DE'].std()* 250 ** 0.5

0.21768784702867963

In [25]:
print (sec_returns['PG'].mean() * 250) 
print (sec_returns['BEI.DE'].mean() * 250)

0.07509466830658862
0.05833642379002709

In [30]:
#(sec_returns['PG','BEI.DE'].mean() * 250) This is a has a float in it so numpy would let it run 
#because its a one dism array inside of two dimesional. To make it two create more bracket around it to siulate the use
#of two arry [[ghjkf]]

In [28]:
sec_returns[['PG','BEI.DE']].mean() * 250

PG        0.075095
BEI.DE    0.058336
dtype: float64

In [32]:
sec_returns[['PG','BEI.DE']].std() * 250 ** 0.5

PG        0.188931
BEI.DE    0.217688
dtype: float64

In [31]:
sec_returns[['PG','BEI.DE']].std() * 250

PG        2.987257
BEI.DE    3.441947
dtype: float64